<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-container">
    <a id='logo' href="/">WunderBevy</a>
    <div class="counter col-md-2 nav-item">
      <p>Shipped: <%= "#{Order.shipped.count}" %></p>
    </div>
  </div>
</nav>