<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-container">
    <a id='logo' href="/">WunderBevy</a>
    <!--<div class="nav-item">-->
      <!--<%= link_to "link", "", class: "btn btn-default btn-warning" %>-->
    <!--</div>-->
    <!--<div class="nav-item">-->
      <!--<%= link_to "link", "", class: "btn btn-default btn-warning" %>-->
    <!--</div>-->
    <!--<div class="nav-item">-->
      <!--<%= link_to "link", "", class: "btn btn-default btn-warning" %>-->
    <!--</div>-->
  </div>
</nav>